<% if user_signed_in? %>
  <% like = current_user.likes.find_by(post_id: post.id) %>

  <% if like %>
    <%# いいね済みの場合 → いいね解除ボタン %>
    <%= link_to post_like_path(post, like), method: :delete, remote: true, class: "btn btn-danger" do %>
      <i class="fas fa-heart"></i> いいね解除 <%= post.likes_count %>
    <% end %>
  <% else %>
    <%# いいねしていない場合 → いいねボタン %>
    <%= link_to post_likes_path(post), method: :post, remote: true, class: "btn btn-outline-primary" do %>
      <i class="far fa-heart"></i> いいね <%= post.likes_count %>
    <% end %>
  <% end %>
<% else %>
  <%# ログインしていない場合は、いいね数のみ表示 %>
  <span class="text-muted"><i class="far fa-heart"></i> <%= post.likes_count %></span>
<% end %>