<div class="stats" id="stats_<%= user.id %>">
  <%= link_to following_user_path(user) do %>
    <strong><%= user.following.count %></strong> フォロー
  <% end %>
  |
  <%= link_to followers_user_path(user) do %>
    <strong><%= user.followers.count %></strong> フォロワー
  <% end %>
</div>

