<%# app/views/graves/show.html.erb %>

<div class="container my-5">
  <%# --- パンくずリスト --- %>
  <nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "トップ", root_path %></li>
      <li class="breadcrumb-item"><%= link_to "偉人一覧", graves_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @grave.name %></li>
    </ol>
  </nav>

  <%# --- 1. 人物紹介セクション --- %>
  <section class="profile-header mb-5">
    <div class="row align-items-center">
      <div class="col-md-3 text-center">
        <%# 画像が設定されている場合のみ表示 %>
        <% if @grave.main_image.attached? %>
          <%= image_tag @grave.main_image, class: 'profile-image' %>
        <% else %>
          <%# 画像がない場合のプレースホルダー %>
          <%= image_tag 'default_profile.png', class: 'profile-image' %>
        <% end %>
      </div>
      <div class="col-md-9 profile-details">
        <h1 class="profile-name"><%= @grave.name %></h1>
        <p class="profile-years">1834-1867</p> <%# TODO: 生没年を動的に %>
        <p class="profile-description"><%= simple_format(h(@grave.description)) %></p>
        <div class="meta-info">
          <% if @grave.genres.present? %>
            <span class="genre-tag"><%= @grave.genres.pluck(:name).join(' / ') %></span>
          <% end %>
          <span class="location-info">
            <i class="fas fa-map-marker-alt"></i> <%= @grave.address %>
          </span>
        </div>
      </div>
    </div>
  </section>

  <hr class="my-5">

  <%# --- 2. 地図セクション --- %>
  <section class="map-section mb-5">
    <h2 class="section-title">地図</h2>
    <div id="map" style="height: 400px; width: 100%;" data-latitude="<%= @grave.latitude %>" data-longitude="<%= @grave.longitude %>"></div>
  </section>

  <hr class="my-5">

<%# --- 投稿機能セクション --- %>
<section class="new-post-section mb-5 text-center">
  <% if user_signed_in? %>
    <%# モーダルを開くためのボタン（これは残す） %>
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#newPostModal">
      <i class="fas fa-camera"></i> 墓参日記を投稿する
    </button>
  <% else %>
    <p>墓参日記を投稿するには、<%= link_to "ログイン", new_user_session_path %>が必要です。</p>
  <% end %>
</section>

<hr class="my-5">


  <%# --- 3. 墓参日記セクション --- %>
  <section class="reviews-section">
    <h2 class="section-title">墓参日記 <small>(<%= @posts.count %>件)</small></h2>
    
    <%# @postsコレクションを渡し、postごとに部分テンプレートを描画 %>
    <%= render @posts %>

  </section>

  <div class="text-center mt-5">
    <%= link_to '偉人一覧に戻る', graves_path, class: 'btn btn-secondary' %>
  </div>
</div>

<%# JavaScriptの読み込み %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>