<h1>全ユーザー一覧</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %> - <%= user.email %>
      <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
    </li>
  <% end %>
</ul>

<nav>
  <ul>
    <li><%= link_to '会員一覧', '#' %></li>      [cite: 233]
    <li><%= link_to '投稿一覧', '#' %></li>      [cite: 234]
    <li><%= link_to 'コメント一覧', '#' %></li>  [cite: 237]
    <li><%= link_to '墓所詳細一覧', '#' %></li>  [cite: 236]
    <li><%= link_to 'ジャンル一覧', '#' %></li>  [cite: 238]
    <li><%= link_to '通報一覧', '#' %></li>      [cite: 235]
  </ul>
</nav>